body {
   font: 15px/1.5 Arial, Helvetica, sans-serif;
   padding: 0;
   margin: 0;
   background-color: #f4f4f4;
 }
 .container {
   width: 80%;
   margin: auto;
 }
 ul {
   margin: 0;
   padding: 0;
 }
 
 header {
   background: #353637;
   color: #ffffff;
   padding-top: 30px;
   min-height: 70px;
   border-bottom: #32a0c2 3px solid;
 }
 header li {
   float: left;
   display: inline;
   padding: 0 20px 0 20px;
 }
 header #name {
   float: left;
 }
 header #name h1 {
   margin: auto;
   font-size: 35px;
 }
 header nav {
   float: right;
   margin-top: 10px;
 }
 header .highlight,
 header .current a {
   color: #32a0c2;
   font-weight: bold;
 }
 .body {
   margin-left: 10px;
   margin-right: 10px;
 }
 
 .glory-port {
   display: flex;
 }
 
 .welcome {
   justify-content: center;
   text-align: center;
 }
 .my-name {
   padding: 30px;
   font-size: 18px;
 }
 
 .About-glo {
   justify-content: center;
   text-align: center;
   font-size: 18px;
 }
 .glo-hobbies {
   justify-content: center;
   align-items: center;
 }
 .glo-hobbies {
   display: flex;
   justify-content: space-evenly;
   font-size: 18px;
 }
 
 .programming-classes {
   display: flex;
   justify-content: space-evenly;
   font-size: 18px;
 }
 .portfolio {
   justify-content: center;
   text-align: center;
   line-height: 0.2;
   font-size: 18px;
 }
 .skills {
   justify-content: center;
   text-align: center;
   font-size: 18px;
   line-height: 1;
 }
 .responsive {
   display: flex;
   justify-content: space-evenly;
 }
 footer {
   background-color: #353637;
   height: 40px;
 }
 .final {
   justify-content: center;
   text-align: center;
   align-items: center;
   padding-top: 10px;
 }
 .responsive p {
   font-size: 18px;
   justify-content: center;
   text-align: center;
   background-color: #32a0c2;
 }
 
 